html,
body {
  border-color: #736b5e;
  color: #e8e6e3;

  background-color: #202324;
  text-align: left;
}

a {
  color: #3391ff;
}

.loading {
  background-color: #801b1b;
}

#players > tbody > tr.online > td,
#players > tbody > tr.online:hover > td {
  background-color: #193b02;
}

#players > tbody > tr:hover > td {
  background-color: #0d0e0c;
}

.ranked {
  color: #ff6600;
}

#players {
  font: 14px/20px Arial, Sans-serif;
}

.hidden {
  display: none;
}
#countdown,
#info {
  display: block;
}
tr > td:nth-child(1) {
  border-left: 4px solid transparent;
}

tr.gold > td:nth-child(1) {
  border-left: 4px solid gold;
}
tr.silver > td:nth-child(1) {
  border-left: 4px solid silver;
}
tr.bronze > td:nth-child(1) {
  border-left: 4px solid #bb8141;
}
a.scoreboard {
  text-decoration: none;
}

/* responsive */
.last-online,
.id {
  display: none;
}
@media screen and (min-width: 200px) {
}
@media screen and (min-width: 320px) {
}
@media screen and (min-width: 768px) {
  .id {
    display: table-cell;
  }
  .last-online {
    display: table-cell;
  }
}
