html,
body {
  border-color: #736b5e;
  color: #e8e6e3;

  background-color: #202324;
  text-align: left;
}

a {
  color: #3391ff;
}

.loading {
  background-color: #801b1b;
}

.online td {
  background-color: #193b02;
}
.ranked {
  color: #ff6600;
}

#players {
  font: 14px/20px Arial, Sans-serif;
}
